slurm_logs/
launch_files/
.neptune/
.vscode/
*.mp4
*.h5
*.ply
*.hdf5
experiment_results/
*~
*.swp
*.swo


vipl/vipl/scripts/*.png

# pip distribution folder
dist/

# datasets folder at top-level (leading slash)
/datasets/

# local test dataset that is lazily downloaded by example scripts
tests/assets/test.hdf5
tests/assets/test_v141.hdf5

# pycharm configs
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# scratch/test output from interactive experimentation
scratch_cam_test/
scratch_run_vista_test/

# one-off experimental images generated during testing
frame12_znvs.png
frame_000000.png
frame_000012.png
frame_000066_gaussian.png
frame_znvs.png
pp_e0f0.png
pp_e0f0_novel_view.png
pp_e0f0_novel_view_epoch40000.png
pp_e0f0_nv.png
pp_e0f0_vista.png
stack_e0f0.png
stack_e0f0_novel_view_base.png
sweep.jpeg
sweep_e0f0.png
